.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9%;
  color: black;
  font-size: 1.6rem;

  .logo {
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
  }
  .navbar {
    display: flex;
    a {
      margin-right: 1rem;
    }
  }

  .right-menu {
    a,
    div {
      margin-right: 1rem;
    }
    .user {
      color: #999;
      text-transform: uppercase;
    }
  }
}
